.createaccount{
    width: 100%;
    height: 175px;
    background-image: url(../assets/createaccount.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.createaccount h1{
    font-size: 40px;
}

.username img{
    width: 20px;
}

form:nth-child(1){
    display: flex;
    justify-content: center;
}
.username{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.username section{
    display: flex;
}

.username section input{
    width: 250px;
    height: 30px;
}