*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --shadow-color:#00008B;
}
.headerMain{
    height: calc(100vh + 50px);
    background-image: url(../assets/girl_bg.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
}

header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
}

.main_nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
li
{
    display: flex;
    align-items: center;
}

.authendicate ,.login{
    display: flex;
    gap: 20px;
    align-items: center;
}
.account_details .account img{
    /* box-shadow: 0px 0px 5px blue; */
    filter: drop-shadow(0px 0px 4px #00008b);
}
.options{
    background-color: var(--shadow-color);
    color: white;
    position: absolute;
    right: 10%;
   padding: 20px;   
   opacity: 0;
   transform: translateY(-10px);
}
  
  .options.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
 

@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeSlideIn 0.7s ease forwards;
  }
  

@media (max-width:500px){
  .headerMain{
    height: calc(100vh + 200px);
  }
}
