*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicklink_continer{
  background-image: url(./assets/city_image.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px;
}


@media (max-width:600px){
  .quicklink_continer{
    padding: 10px;
  }
}